
h1[b-8m9o8jzj20] {
    font-size: 32px;
    background-color: #0094ff;
    height: auto;
    color:#ffffff;
    padding:4px 0;
}

 h1 i[b-8m9o8jzj20] {
        padding: 0 24px 0 21px;
    }
    .table-list[b-8m9o8jzj20] {
        background-color: #ffffff;
        margin: 24px 16px 0;
    }
    .table-list a[b-8m9o8jzj20] {
        margin: 0 10px;
        padding: 8px 10px;
        background-color: #0094ff;
    }
.table[b-8m9o8jzj20]{ margin:16px 8px 0 8px;

       
}
.table-thead[b-8m9o8jzj20] {
    background-color: #cccc;
    margin: 10px 8px 0;
    border: 1px solid #000000;
}
.tbody[b-8m9o8jzj20] {
    border:1px solid #000000;
}
    .tbody tr[b-8m9o8jzj20] {
        border-bottom: 1px solid #000000;
    }
    .tbody td[b-8m9o8jzj20] {
      
        border-right: 1px solid #000000;
    }


